.item{
    min-width: fit-content;
    padding: 10px;
    border-radius: 2px;
    font-weight: 500;
    cursor: pointer;
}
.defaultTheme{
    border: 2px solid lightgray;
    background: #fff;
    color: black;
}
.invertedTheme{
    border: 2px solid #d62828;
    background: #fff;
    color: #d62828 ;
}